

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #1a2f25; 
    color: #dff5e0; 
    min-height: 100vh;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #0f3d2f; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #2fa87d;
}

.sidebar h2 {
    color: #f3e2b3;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    letter-spacing: 1px;
    margin-top: 30px;
}

.sidebar a {
    color: #dff5e0;
    text-decoration: none;
    padding: 12px 15px;
    margin: 6px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    font-weight: 500;
}

.sidebar a i {
    margin-right: 12px;
}

.sidebar a:hover {
    background-color: #2fa87d;
    color: #ffffff;
}

table {
    width: 85%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #144033;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0,0,0,0.35); 
    margin-left: 240px;
}

table th, table td {
    padding: 14px 18px;
    text-align: left;
}

table th {
    background-color: #2fa87d; 
    color: #f3e2b3; 
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

table td {
    border-bottom: 1px solid #0f3d2f;
    color: #dff5e0; 
}

table tr:nth-child(even) {
    background-color: #0f3d2f; 
}

table tr:hover {
    background-color: #248060; 
    transition: background 0.3s ease;
}

.btn-toggle {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    text-align: center;
    line-height: 36px;
    font-size: 18px;
    color: #ffffff;
    background-color: #0f3d2f;
    transition: background 0.3s, transform 0.2s;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.btn-toggle .check {
    color: #2fa87d; 
    font-weight: bold;
}

.btn-toggle .cross {
    color: #f3e2b3; 
    font-weight: bold;
}

.btn-toggle:hover {
    background-color: #248060;
    transform: scale(1.1);
}


.main h1 {
    font-size: 50px;
    font-weight: 700;
    color: #f3e2b3; 
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 260px;
}

.top-right-btn {
    position: absolute;       
    top: 20px;               
    right: 20px;              
    
    background-color: #28a745; 
    color: white;             
    padding: 10px 20px;       
    text-decoration: none;    
    border-radius: 8px;       
    font-weight: bold;        
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    transition: background-color 0.3s, transform 0.2s;
}

.top-right-btn:hover {
    background-color: #218838;  
    transform: translateY(-2px);
}


@media (max-width: 768px) {
    table th, table td {
        font-size: 14px;
        padding: 10px 12px;
    }

    .btn-toggle {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
    }
}
